<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Products Page</title>
    <link rel="stylesheet" href="/catalog/css/styles.css" />
</head>
<body>
    <div class="container">
        <header>
            <h1>Categories</h1>
        </header>
        <section>
         	<h2>Categories:</h2>
         	<ul>
            <li th:each="category : ${categoriesModel}"><a th:href="@{/inventory-by-category(id=${category.id})}" th:text="${category.name}"></a></li>
            </ul>
        </section>
        
        <section class="products-list">
                <h2>The Cart:</h2>
                <ul>
                	<li th:each="product : ${productsModel}"><a th:href="@{'/products/' + ${product.id}}" th:text="${product.name}"></a></li>
                </ul>
            </section>
        
    </div><!-- /.container -->
    

<!--     <script src="/catalog/public/js/categories-request.js"></script> -->
</body>
</html>