<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Products Page</title>
    <link rel="stylesheet" href="/catalog/css/styles.css" />
</head>
<body>
    
        <header>
            <h1>Products Page</h1>
        </header>
      <!--   <section>
         	<h2>Products:</h2>
         	<ul th:each="inventory : ${inventoryByCategoryModel}">
            <li th:text="${inventory.name}"></li>
            </ul>
        </section> -->
        
        
       	    
        
        <div class="container">
            <section class="add-product">
            	<ul>
                <li th:each="inventory: ${inventoryByCategoryModel}"><p th:text="'Name:  ' + ${inventory.name}"/><p th:text="'Description: ' + ${inventory.description}"/><input type="hidden" th:value="${inventory.name}"/>
                <button id="button" th:text="'Buy ' + ${inventory.name}"></button></li>
                </ul>
            </section>
        </div>
        
        <div id="add">
    	</div>
<!--             <section class="products-list"> -->
<!--                 <h2>Here's your cart:</h2> -->
<!--                 <ul th:each="product : ${productsModel}"> -->
<!--                 	<li><a th:each="product : ${productsModel}" th:text="${product.name}"></a></li> -->
<!--                 </ul> -->
<!--             </section> -->
        
    
    
    
    <a th:href="@{'/categories'}">Home</a>
    
	<script src="./catalog/public/js/button.js"></script>
    <script src="./catalog/public/js/my-requests.js"></script>
        
  

   
</body>
</html>