<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Products Page</title>
    <link rel="stylesheet" href="/catalog/css/styles.css" />
</head>
<body>
    
        <header>
            <h1>Categories Page</h1>
        </header>
        <section>
         	<h2>Products:</h2>
         	<ul th:each="product : ${productByCategoryModel}">
            <li th:text="${product.name}"></li>
            </ul>
        </section>
       	    
        
        <div class="container">
            <section class="add-product">
                <input type="text" />
                <button>Submit Product</button>
            </section>
            <section class="products-list">
                <h2>Here's a list of all of our current products:</h2>
                <ul>
                	<li th:each="product : ${products}"><a th:href="@{'/products/' + ${product.id}}" th:text="${product.name}"></a></li>
                </ul>
            </section>
        
    </div><!-- /.container -->

    <script src="./catalog/public/js/my-requests.js"></script>
        
  

   
</body>
</html>